<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zh.metermanagement">


    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 往SDCard读入数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 桌面创建快捷图标 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".application.MyApplication"
        tools:replace="android:icon"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activity.SelectorActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.SelectorActivity1"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.SelectorActivity2"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activity.SortLoadDataActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activity.SortActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activity.LoadDataActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.LoadDataActivity1"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>


        <activity android:name=".activity.ReplaceMeterActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.ReplaceMeterActivity1"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activity.NewCollectorActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.NewCollectorActivity1"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activity.DirectionsForUseActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activity.GenerateReportsActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.GenerateReportsActivity1"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>


        <activity android:name=".activity.StatisticsActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activity.StatisticsDetailsActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activity.SearchActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activity.SendEmailActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>